/* ============= Colours ============= */
$oxford-blue: #081435;
$ultra-violet: #6A5AA4;
$sky-blue: #60C8D8;
$white: #FFFFFF;

$eerie-black: #17171B;
$raisin-black: #27272D;
$jet: #35353D;
$davys-gray: #484854;
$dim-gray: #737380;

/* ============= Typography ============= */
$main-font: "Poppins", sans-serif;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

/* ============= Margenes ============= */
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;

$pd-xl: 6rem;

/* ============= Z Index ============= */
$z-fixed: 100;


