.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem 6rem;

  border: none;
  border-radius: 5rem;

  cursor: pointer;


}

.btn span {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  transform: translateY(2%);


  color: #000;


}

.btn_Light{ 
  box-shadow: 0 0 42px #60C8D8;  
  
} 

.btn_Light_corect{
  padding: 2rem 6rem;
  box-shadow: 0 0 40px #60C8D8;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #000;
  background: #60C8D8 ;
  border-bottom-right-radius: 9rem;
  border-top-right-radius: 9rem;
  cursor: pointer;
  width: 100%;
}

.btn_Light_incorrect{
  padding: 2rem 6rem;
  box-shadow: 0 0 40px #ff4d4d;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background: #ff4d4d;
  border-bottom-right-radius: 9rem;
  border-top-right-radius: 9rem;
  cursor: pointer;
  width: 100%;
}

.btn_questions{
  padding: 2rem 6rem;
  background: #fff ;
  box-shadow: 0 0 40px #60C8D8;
  border-top-right-radius: 9rem;
  border-bottom-right-radius: 9rem;
   font-size: 2rem;
 font-weight: bold;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: none;
  width: 100%;
}


@media (max-width: 3840px){
  .btn_Light_incorrect{
    padding: 8rem 14rem;
    font-size: 6rem;
  
}
  .btn{
    padding: 8rem 14rem;
    border-radius: 20rem;
  }

  .btn span{
    font-size: 6rem;
  }

  .btn_Light_corect{
    padding: 8rem 14rem;
     font-size: 6rem;
  }

  .btn_questions{
    padding: 8rem 14rem;
     font-size: 6rem;
  }
}