@use '../abstracts' as *;

.ft_wrapper {
  width: 100%;
  font-family: "Poppins";

  padding: 2.2rem $pd-xl;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft_container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============= First Container ============= */
.ft_first-container {
}

.ft_logo-container img {
  width: 15.4rem;
}

/* ============= Seccond Container ============= */
.ft_seccond_container {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.ft_link-container {
  position: relative;
  span {
    font-size: 2rem;
    color: white;
    font-weight: 700;
  }
}

.ft_social_icons-container {
  display: flex;
  align-items: center;

  .ft_icons-list {
    display: flex;
    gap: 1.4rem;

    li {
      width: 3.248rem;
      height: 3.272rem;

      background-color: white;
      mix-blend-mode: screen;
      border-radius: 5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: #000000;
        font-size: 1.8rem;
      }
    }
  }
}

._social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
  }
}

