.mo_wrapper{
    position: absolute;
    top:25%;
    background: #081435bd;
    border-radius: 2rem;
    padding: 2rem;
    z-index: 100;
    width: 40%;
    height: 50%;
}

.mo_container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    align-items: center;
    gap: 1.5rem;
    height: 100%;

    span{
        color: #fff;
        font-size: 2rem;
        font-weight: 800;
    }
    a{
        width: 100%;
    }

    
}

.btn_warn{
    padding: 1rem;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
    background: #fff;
    color: #000;
    font-weight: bold;
}

.btn_sucess{
    padding: 1rem;
    border-radius: .8rem;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.6rem;
    background: #60C8D8;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 3840px){
    .mo_container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    align-items: center;
    gap: 4rem;
    height: 100%;
    padding: 10rem;

    span{
        color: #fff;
        font-size: 7rem;
        font-weight: 800;
    }
    a{
        width: 100%;
    }

    
}

.btn_warn{
    padding: 5rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 8rem;
    background: #fff;
    color: #000;
    font-weight: bold;
}

.btn_sucess{
    padding: 5rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 8rem;
    background: #60C8D8;
    color: #fff;
    font-weight: bold;
}
}