.timer-container {
  width: 100%;
  height: 10px; /* Altura mais razoável */
   background-color: #e0e0e0; /* Cor de fundo para o contentor */
  border-radius: 5px;
  margin: 20px 0; /* Espaçamento para melhor visualização */
  overflow: hidden;
  width: 100%;
  height: 20px;
}

.timer-progress-bar {
  height: 100%;
  border-radius: 5px;
  /* A transição suave torna a diminuição da barra mais agradável */
  transition: width 0.5s linear, background-color 0.5s linear;
}