@use "../abstracts" as *;
.inf_wrapper {
  flex: 1;
  display: flex;
}

.inf_container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  position: relative;
  padding: $pd-xl;
}

.inf_content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
}

.inf_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  & :first-child {
    color: #fff;
    font-size: 5rem;
    line-height: 6.5rem;
  }

  p:last-child {
    font-weight: bold;
  }
}

.inf_container_image {
  display: flex;

  width: 100%;
  img {
    width: 30rem;
  }
}

.inf_person_img {
  position: absolute;
  left: 85rem;
  bottom: -10rem;

  img {
    width: 95%;
  }
}
