@use "../abstracts" as *;

.i_wrapper{
   
   display: flex;
   align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100svh;
    font-family: "Poppins";
   &::after{
        content: '';
        background: linear-gradient(to bottom, #081435 0%, #1C2252 100%);
        opacity: 0.8;
        position: absolute;
        height: 100svh;
        width: 100%;
        top:0;
        z-index: 1;
    }

}

.i_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2.5rem;
    position: relative;
    z-index: 2;

    h2{
        color: #fff;
        font-weight: 900;
        font-size: 8rem;
        line-height: 9rem;
        text-align: center;
        text-transform: uppercase;
    }

    p{
        text-align: center;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 800;
        color: #fff;
        
    }
}

@media (min-width: 3840px){
    .i_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:8rem;
    position: relative;
    z-index: 2;

    h2{
        color: #fff;
        font-weight: 900;
        font-size: 16rem;
        line-height: 16rem;
        text-align: center;
        text-transform: uppercase;
    }

    p{
        text-align: center;
        font-size: 8rem;
        line-height: 12rem;
        font-weight: 800;
        color: #fff;
        
    }
}

}