@use "../abstracts" as *;

.sp_wrapper{
    flex:1;
   
    position: relative;
    background: url("../assets/images/svgs/backgrounds/FUNDO_CAMPANHA_300MB_TVC_2025.svg") no-repeat;
    background-size: cover;
    height: 100svh;
    font-family: "Poppins";
    overflow:hidden;
    //padding: 0 2rem;

    &::after{
        content: '';
        background: linear-gradient(to bottom, #081435 0%, #1C2252 100%);
        opacity: 0.8;
        position: absolute;
        height: 100svh;
        width: 100%;
        top:0;
        z-index: 1;
    }
}

.sp_container{
    display: flex;
    justify-content: space-between;
    position: relative;

    padding: 0 4rem;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.sp_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 10rem;
    margin-bottom: 9rem;
}
.sp_highlight{
    text-align: center;
    text-transform: uppercase;
    line-height: 13rem;
    color:#ffff;
    font-weight: 900;
 
   p:first-child{
    font-size: 18rem;
   }

   p:last-child{
    font-size:8rem;
   }
}

.sp_container_subtitle{
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom: 2rem;
   
    p{
        font-size: 1.5rem;
        color:#fff;
        font-weight: 900;
    }
    
}

.sp_img_subtitle{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    width: 30%;
    img{
        width: 100%;
    }
   
}

.sp_subtitle{
 margin: 2rem 0;
 font-size: 1.5rem;
 color:#fff;
 font-weight: bold;
 text-wrap: nowrap;
}

.sp_person_img { 
    
    display: flex;
    justify-content: end;
    

}


@media (max-width: 3840px){
    .sp_content{
   
    margin-top: 50rem;
    margin-bottom: 9rem;
}
  .sp_highlight{
    
    line-height: 35rem;
   
   
 
   p:first-child{
    font-size: 48rem;
   }

   p:last-child{
    font-size:28rem;
   }

   
}

.sp_content{
    gap: 8rem;
}

.sp_container_subtitle{
    display: flex;
    justify-content: center;
    gap:6rem;
    margin-bottom: 2rem;
   
    p{
        font-size: 5rem;
        color:#fff;
        font-weight: 900;
    }
    
}

.sp_subtitle{
    font-size: 4rem;
    margin:4rem 0;
}

.sp_img_subtitle{
    
    width: 100%;

    img{
        width: 100%;
    }
   
}
}

@media (min-resolution: 2dppx){

.sp_content{
   
    margin-top: 17rem;
    margin-bottom: 9rem;
}
  .sp_highlight{
    
    line-height: 12rem;
   
   
 
   p:first-child{
    font-size: 13rem;
   }

   p:last-child{
    font-size:6rem;
   }

   
}

.sp_img_subtitle{
    
    width: 40%;

    img{
        width: 100%;
    }
   
}







}