.tr_wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    
    font-family: "Poppins";
   

}

.tr_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    
    padding: 2rem 4rem;
}

.tr_timer {
    width: 100%;
}

.tr_container_aw {
    display: flex;
    width: 100%;    

    gap: 4rem;
    
}

.tr_container_questions {
    background-color: #081435;
    padding: 2rem 5rem;
    width: 50%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.tr_word {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.tr_separation {
    height: 0.5rem;
    background: #fff;
    width: 45%;
    border-radius: 5rem;
    margin-top: 2rem;
    margin-left: 5rem;
}

.tr_world_img {
    display: flex;
    justify-content: center;
    img {
        width: 70%;
    }
}

.tr_questions {
    width: 100%;
    p {
        font-size: 2rem;
        color: #fff;
        text-align: center;
        line-height: 4rem;
        font-weight: 800;
    }
}

.tr_resp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 4rem;
    width: 50%;
}

@media (min-width: 3840px) {
    .tr_container {
        gap: 8rem;
    }
    .tr_questions {
        width: 100%;
        p {
            font-size: 8rem;

            line-height: 14rem;
            font-weight: 800;
        }
    }

    
    .tr_world_img {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .tr_container_questions {
        background-color: #081435;
        padding: 8rem 10rem;
        width: 50%;
        border-top-left-radius: 14rem;
        border-bottom-left-radius: 14rem;
    }
    .tr_word {
        padding: 1rem;
        margin-bottom: 7rem;
    }

    .tr_separation {
        height: 2rem;
        background: #fff;
        width: 27%;
        border-radius: 5rem;
        margin-top: 9rem;
        margin-left: 5rem;
    }
}
